<% layout('./layout/default.ejs') -%>

<h1>login</h1>
<div id="vue-element"></div>

<script>
    window.CW = {}
    window.CW.vueProjectEl = document.getElementById('vue-element');
</script>

<script src="/javascripts/vue.js"></script>